html,
body,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  box-sizing: border-box;
}

/*@import 'components/map/style.css';*/
/*@import 'components/drawer/style.css';*/
/*@import 'components/list-view/style.css';*/
@import 'components/menu-button/menu-button.css';
